{% extends "_base.html" %}

{% block title %}Courses{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr scope="row">
                <th scope="col">Courses</th>
                <th scope="col">Day</th>
                <th scope="col">Teacher</th>
                <th scope="col">Start Date</th>
                <th scope="col">Finish Date</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
    {% for course in course_list %}
        <tr scope="row">
            <td><a href="{{ course.get_absolute_url }}">{{ course.get_type_display }}</a></td>
            <td><a href="{% url 'courses_day' course.day %}">{{ course.get_day_display }}</a></td>
            <td>{{ course.teacher }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.finish_date }}</td>
            <td><button type="button" class="btn btn-primary">Edit</button></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}