{% extends "_base.html" %}
{% load custom_filters %}

{% block title %}{{ course.type }} {{ course.day }}{% endblock title %}

{% block content %}
    
    <h1>{{ course.get_type_display }}</h1>
    <h3>Day: {{ course.get_day_display }}</h3>
    <h3>Teacher: {{ course.teacher }}</h3>
    <table class="table">
        <thead>
            <tr scope="row">
                <th scope="col">Students</th>
                <th scope="col">Current Workbook</th>
                <th scope="col">Current Reading Book</th>
            </tr>
        </thead>
    {% for student, book in students|zip_lists:books %}
        <tr scope="row">
            <td>{{ student }}</td>
            <td>Success in Comprehension</td>
            <td>{{ book.title }}</td>
        </tr>
    {% empty %}
        <h3>No students enrolled in this class.</h3>
    {% endfor %}
    </table>
{% endblock content %}