{% extends "_base.html" %}

{% block title %}{{ course.type }} {{ course.day }}{% endblock title %}

{% block content %}
    
    <h2>{{ course.get_type_display }}</h2>
    <p>Day: {{ course.get_day_display }}</p>
    <p>Teacher: {{ course.teacher }}</p>
    <table>
        <tr>
            <th>Students</th>
        </tr>
        <tr>
            <td>John</td>
        </tr>
        <tr>
            <td>Paul</td>
        </tr>
        <tr>
            <td>Ringo</td>
        </tr>
        <tr>
            <td>George</td>
        </tr>

    </table>
{% endblock content %}