{% extends "_base.html" %}

{% block title %}Students{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr scope="row">
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
    {% for student in student_list %}
        <tr scope="row">
            <td><a href="{{ student.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a></td>
            <td>{{ student.grade }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}