{% extends "_base.html" %}

{% block title %}{{ student.first_name }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        <h2><a href="">{{ student.first_name }} {{ student.last_name }}</a></h2>
        <h2>{{ student.grade }}</h2>
    </div>
    <table class="table">
        <thead>
            <tr scope="row">
                <th scope="col">Course</th>
                <th scope="col">Day</th>
                <th scope="col">Teacher</th>
            </tr>
        </thead>
        {% for course in courses_with_student %}
            <tr scope="row">
                <td>{{ course.get_type_display }}</td>
                <td>{{ course.get_day_display }}</td>
                <td>{{ course.teacher }}</td>
            </tr>
        {% empty %}
            <h3>No courses found for this student</h3>
        {% endfor %}
    </table>
{% endblock content %}